html{
    font-size: 0.6vw;
}

body {
    font-family: Manrope, sans-serif;
    background-color: white;
    width: 100%;
}

.container {
    width: 91.7%;
    margin: 0 auto;
    box-sizing: border-box;
}

h2 {
    text-align: left;
    font-weight: 500;
    color: #000;
    font-size: 4rem;
    margin-bottom: 5rem;
}


.services, .faq {
    margin-bottom: 13rem;
}

.services-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel-controls {
    display: none;
    align-items: center;
    gap: 3rem;
}


.service-cards {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    justify-content: space-between;
    scrollbar-width: none;  
}

.service-cards::-webkit-scrollbar {
    display: none; 
}

.service-card {
    display: flex;
    justify-content: center;
    position: relative;
    width: calc(33.3% - 2rem); 
    height: auto;
    scroll-snap-align: start;
    flex-shrink: 0; 
}

.service-card img {
    width: 100%;
    height: auto;
    border-radius: 3px;
    object-fit: cover;
}

.service-title {
    position: absolute;
    font-size: 2.8rem;
    top: 3%;
    left: 2%;
    color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    max-width: 70%; 
    white-space: normal;
}


.faq-item {
    background: white;
    background: rgba(244, 244, 246, 1);
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    padding: 3rem;
    position: relative;
}

.faq-item .faq-question {
    font-weight: 600;
    line-height: 3rem;
    font-size: 2.2rem;
}

.faq-item .faq-answer {
    display: flex;
    line-height: 3rem;
    font-size: 2rem;
    margin-right: 5%;
    color: #555;
    overflow-y: auto; 
    max-height: 0; 
    transition: max-height 0.3s ease;
}

.faq-item.open .faq-answer {
    display: flex;
}


.faq-question:hover {
    cursor: pointer;
}

.faq-toggle {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #888;
    cursor: pointer;
}

.arrow-icon {
    width: 3rem;
    transition: transform 0.3s ease;
}

.open .arrow-icon {
    transform: rotate(45deg);
}




@media (max-width: 1200px) {
    .carousel-controls {
        display: flex;
    }

    .faq-item .faq-answer {
        max-height: none;
    }

    .prev-button,
    .next-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        width: 10.852rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .prev-button circle,
    .next-button circle {
        fill: none; 
        stroke: black; 
        stroke-width: 1;
    }

    .prev-button path,
    .next-button path {
        stroke: black;
        stroke-width: 2;
        fill: none;
    }

    .service-cards {
        display: flex;
        overflow-x: auto;
    }


    .service-card {
        width: calc(50% - 5.9rem); 
        flex-shrink: 0;
        padding-right: 5rem;
    }
    
    .service-card:last-child {
        padding-right: 0;
    }
    

    h2 {
        font-size: 7.829rem;
        height: 10.2rem;
        margin-bottom: 8rem;
    }

    .service-title {
        font-size: 5.22rem;
        max-width: 80%; 
        padding: 4.4rem 6.6rem;
    }
    
    .faq-item{
        padding: 7rem;
        border-radius: 1.5rem;
    }

    .faq-item .faq-question{
        font-size: 5.23rem;
        max-width: 90%;
        line-height: 6.9rem;
        
    }
    .faq-item .faq-answer{
        font-size: 4.345rem;
        line-height: 7rem;
        max-width: 100%;
        margin-right: 0;

    }

    .faq-toggle {
        top: 10rem;
        right: 5%;
        transform: translateY(-50%); 
    }

    .arrow-icon {
        width: 7rem;
        height: auto;
        padding-left: 5%;
        transition: transform 0.3s ease;
    }
}

@media (max-width: 768px) {
    .carousel-controls {
        display: none;
    }

    .faq-item .faq-answer {
        max-height: none;
    }



    .service-cards {
        display: flex;
        flex-direction: column;
        overflow-x: auto;
    }


    .service-card {
        width: 99.37%;
        height: 93rem;
        padding-right: 0;
        padding-bottom: 9.3rem;
        
    }

    .service-card img{
        border-radius: 10px;
        
    }
    
    

    h2 {
        font-size: 10.65rem;
        height: 10.2rem;
        margin-bottom: 8rem;
    }

    .service-title {
        font-size: 7.9rem;
        max-width: 80%; 
        padding: 4.4rem 6.6rem;
    }
    
    .faq-item{
        padding: 10rem;
        border-radius: 1.5rem;
    }

    .faq-item .faq-question{
        font-size: 7.9rem;
        max-width: 90%;
        line-height: 12rem;
        
    }
    .faq-item .faq-answer{
        font-size: 6.5rem;
        line-height: 11rem;
        max-width: 100%;
        margin-right: 0;

    }

    .faq-toggle {
        top: 14rem;
        right: 5%;
        transform: translateY(-50%); 
    }

    .arrow-icon {
        width: 12rem;
        height: auto;
        padding-left: 5%;
        transition: transform 0.3s ease;
    }
}